<div class="wrapper">
  <section class="fullspread right">
    <app-banner class="accomodation fh has-content">
      <div class="banner-content">
        <h2 class="display">Our services</h2>
      </div>
    </app-banner>
    <article class="half-page purple-bg">
      <h3>Supported Accommodation.</h3>
      <p>
        Regarding accommodation, we endeavour to create a safe place for our
        young people, with a culture that is both welcoming and inclusive.
        Ensuring the safety and wellbeing of our staff and young people is of
        the utmost importance, as is maintaining an environment that feels more
        like a home and community, than an institution. All our service users
        will have an assured lease agreement.
      </p>
    </article>
  </section>
</div>
