<div class="wrapper">
  <section class="fullspread">
    <app-banner class="staff fh has-content">
      <div class="banner-content">
        <h2 class="display">Yanis Staff</h2>
      </div>
    </app-banner>

    <article class="half-page purple-bg">
      <h3>Staff</h3>
      <p>
        We have a robust recruitment process, and our Staff are carefully
        selected for their knowledge, skills and experience. our staff are
        experienced at working with different ages of children and supporting
        their emotional well-being by using a range of activities. We provide
        high-quality training, coaching and support to ensure skills and
        abilities relevant to safeguarding:
      </p>
    </article>
  </section>
</div>
<section class="fullspreada">
  <app-banner class="no-img halfpage"> </app-banner>
  <article class="half-page light-bg">
    <h2>You are in good hands!</h2>

    <p>
      We ensure our staff are fully trained for any situation; therefore, they
      will receive at induction, followed by shadow shifts and regular
      supervisions. As they will be faced with challenging behaviours, they will
      be fully trained in Management of Actual or Potential Aggression (MAPA) –
      a de-escalation and physical intervention training course. We also provide
      the PBS – Positive Behavioural Support training.
    </p>
  </article>
</section>
