<div class="wrapper">
  <section class="fullspread">
    <app-banner class="staff">
      <!-- <img src="assets/img/Picture4.jpg" alt="" /> -->
    </app-banner>
    <article>
      <h3>Staff</h3>
      <p>
        We have a robust recruitment process, and our Staff are carefully
        selected for their knowledge, skills and experience. our staff are
        experienced at working with different ages of children and supporting
        their emotional well-being by using a range of activities. We provide
        high-quality training, coaching and support to ensure skills and
        abilities relevant to safeguarding:
      </p>
    </article>
  </section>
</div>
