<div class="home wrapper">
  <section class="fullspreadright">
    <app-banner class="about fh has-content">
      <div class="banner-content">
        <h2 class="display">Yanis Support and Provision</h2>
        <p>We support young people to thrive</p>
      </div>
    </app-banner>
    <article class="half-page purple-bg">
      <h1>About Us</h1>
      <p>
        Yanis Support and Care Provision is a supported living organisation
        which offers supported accommodation to young people from the age of 16
        to 25years of age in and around Norfolk. It was incorporated in 2018 and
        the shareholders have extensive experience in the adult health social
        care sector and as well as working with children with mental health
        issues. At Yanis Support and Care Provision we are so passionate to work
        with young people, see them thrive and grow up to be well mannered and
        very responsible individuals.
      </p>
    </article>
  </section>
  <section class="fullspreada">
    <app-banner class="no-img halfpage"> </app-banner>
    <article class="half-page light">
      <h2>Our Mission, Values and vision</h2>

      <p>
        Our aim is to develop high quality supported living services and
        proactive services that support young people from the age of 16-24years,
        support them to maintain their independence and reach their best
        possible’ positive outcomes. The support we provide is person centred
        and aimed at empowering young people to achieve their goals. Examples of
        goals may include (but are not limited to) referral to other relevant
        external agencies that offer support with managing their mental
        and/physical health; life skills, as well as supporting them to get into
        education, employment and training. Every child is unique, and they
        should be treated with respect and dignity. We aim to evolve our young
        people in the care planning of their needs. values.
      </p>
      <ul>
        <li>Positive social interactions,</li>
        <li>Support for meaningful activity,</li>
        <li>Opportunities for choice,</li>
        <li>Encouragement of greater independence</li>
      </ul>
    </article>
  </section>

  <section class="fullspread">
    <div class="banner contact"></div>
    <article class="half-page purple-bg">
      <h3>Contact us</h3>
      <form>
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input
            type="email"
            class="form-control"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
            placeholder="Enter email"
          />
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input
            type="password"
            class="form-control"
            id="exampleInputPassword1"
            placeholder="Password"
          />
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </article>
  </section>
</div>
