<div class="wrapper">
  <section class="fullspread right">
    <app-banner class="about"> </app-banner>
    <article>
      <h1>About Us</h1>
      <p>
        Yanis Support and Care Provision is a supported living organisation
        which offers supported accommodation to young people from the age of 16
        to 25years of age in and around Norfolk. It was incorporated in 2018 and
        the shareholders have extensive experience in the adult health social
        care sector and as well as working with children with mental health
        issues. At Yanis Support and Care Provision we are so passionate to work
        with young people, see them thrive and grow up to be well mannered and
        very responsible individuals.
      </p>
    </article>
  </section>
  <section class="fullspread">
    <app-banner class="mission"> </app-banner>
    <article>
      <h2>Our Mission, Values and vision</h2>

      <p>
        Our aim is to develop high quality supported living services and
        proactive services that support young people from the age of 16-24years,
        support them to maintain their independence and reach their best
        possible’ positive outcomes. The support we provide is person centred
        and aimed at empowering young people to achieve their goals. Examples of
        goals may include (but are not limited to) referral to other relevant
        external agencies that offer support with managing their mental
        and/physical health; life skills, as well as supporting them to get into
        education, employment and training. Every child is unique, and they
        should be treated with respect and dignity. We aim to evolve our young
        people in the care planning of their needs. values.
      </p>
      <ul>
        <li>Positive social interactions,</li>
        <li>Support for meaningful activity,</li>
        <li>Opportunities for choice,</li>
        <li>Encouragement of greater independence</li>
      </ul>
    </article>
  </section>

  <!--<section class="fullspread right">
    <app-banner class="accomodation">
    </app-banner>
    <article>
      <h3>Supported Accommodation.</h3>
      <p>
        Regarding accommodation, we endeavour to create a safe place for our
        young people, with a culture that is both welcoming and inclusive.
        Ensuring the safety and wellbeing of our staff and young people is of
        the utmost importance, as is maintaining an environment that feels more
        like a home and community, than an institution. All our service users
        will have an assured lease agreement.
      </p>
    </article>
  </section>
  <section class="fullspread">
    <app-banner class="staff">
    </app-banner>
    <article>
      <h3>Staff</h3>
      <p>
        We have a robust recruitment process, and our Staff are carefully
        selected for their knowledge, skills and experience. our staff are
        experienced at working with different ages of children and supporting
        their emotional well-being by using a range of activities. We provide
        high-quality training, coaching and support to ensure skills and
        abilities relevant to safeguarding:
      </p>
    </article>
  </section>
   <section class="fullspread">
    <article>
      <h3>Covid response</h3>
      <p>
        Due to lockdown and Covid19 restrictions Our staff are working remotely
        during office hours. This means that the quickest and easiest way to
        communicate with us is via email. If you have a general query, then
        please email: enquiries@yanis-support-and-care.co.uk or use our contact
        form on this website.
      </p>
      <p>
        If you do wish to talk to us then please do call us on 01603 552146 or
        0756807463
      </p>
      <p>
        We apologise for any inconvenience this may cause you and thank you for
        your patience.
      </p>
    </article>
  </section> -->
  <section class="fullspread">
    <article>
      <h3>Contact us</h3>
      <form>
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input
            type="email"
            class="form-control"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
            placeholder="Enter email"
          />
          <small id="emailHelp" class="form-text text-muted"
            >We'll never share your email with anyone else.</small
          >
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input
            type="password"
            class="form-control"
            id="exampleInputPassword1"
            placeholder="Password"
          />
        </div>
        <!-- <div class="form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1" />
          <label class="form-check-label" for="exampleCheck1"
            >Check me out</label
          >
        </div> -->
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </article>
  </section>
</div>
